* {
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.header {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  grid-auto-flow: column;

  background-color: #f0f0f0;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-size: 20px;
  height: 50px;
}

.mainBody{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-items: start;
}

.leftSide {
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: stretch;
  gap: 10px;
}

.weekdays{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  gap: 50px;
}

.day{
  height: 100px;
  width: 75px;
  border-style: solid;
  text-align: center;
}
.dayhours{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  gap: 30px;
}
.nav{
  display: grid;
  grid-template-rows: auto ;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.navButton{
  background-color: deepskyblue;
  color: white;
  border: 2px solid deepskyblue;
  border-radius: 5px;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navButton:hover{
  border: 2px solid deepskyblue;
  background-color: white;
  color: black;
}

.navButton:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}



.hoursTable{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  justify-content: space-evenly;
  gap: 5px;
}

.hour{
  height: 150px;
  width: 75px;
  border-style: solid;

}

.hidden{
  display: none;
}

@media (max-width: 700px){
  .mainBody{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 20px;

  }
  .header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 90px;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .header{
    justify-content: center;
    gap: 225px;

  }
  .mainBody{
    justify-content: center;
    gap: 200px;

  }
}





