.weekdays {
    display: flex;
    flex-wrap: wrap;
}

.day {
    flex: 1;
    height: 120px;
    flex-basis: 70px;
}

.nav {
    display: flex;
    align-items: stretch;
    padding: 0px;
    justify-content: space-evenly;
}